.dashboard-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .chart-wrapper {
    width: 45%; /* Ajuste o tamanho conforme necessário */
    height: 400px; /* Mantenha a altura conforme desejado */
    margin: 20px;
  }
  
  .site-layout-background {
    background: #fff;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: auto;
  }
  .page-content {
    position: absolute;
    margin: 10px;
    top: 64px; /* Altura do cabeçalho */
    left: 200px; /* Largura da barra lateral */
    right: 0;
  }
  .water-level-box{
    margin-top: 0;
  }
