.navbar {
  background: #fff;
  padding: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.searchContainer {
  position: relative;
  width: 550px;
  margin: 0 auto;
  z-index: 1;
}

.searchIcon {
  color: #0056b3;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 45%;
  transform: translateY(-50%);
}

.searchInput {
  padding-left: 37px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
}

.userInfoContainer {
  position: fixed;
  right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  padding: 5px 10px; 
  border-radius: 10px; 
}

.userInfoContainer:hover {
  background-color: rgb(245, 245, 245); 
}

.profileIcon {
  font-size: 34px; 
  color: #000;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 1em;
  color: #000;
  margin-bottom: -47px;
}

.userEmail {
  font-size: 0.9em;
  color: #555;
  margin-top: 2px;
}

@media screen and (max-width: 768px) {
  .searchContainer {
    display: none;
  }

  .userInfoContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .userName,
  .userEmail {
    font-size: 0.8em;
  }
}

.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  height: calc(100% - 64px);
  z-index: 2;
  overflow: auto;
  background: #fff;
  width: 200px;
  transition: transform 0.3s ease;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
  margin: 10px;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #333;
  transition: transform 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

@media screen and (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .hamburger {
    display: flex;
  }
}

.sidebar .ant-menu-item:hover {
  background-color: rgb(197, 197, 197) !important;
}

.sidebar .logoContainer {
  display: flex;
  align-items: center;
}

.sidebar .logoImageContainer {
  margin-right: 16px;
}

.sidebar .logoImage {
  width: 40px;
  height: auto;
}

.sidebar .titleContainer {
  flex: 1;
}

.sidebar .ant-menu-item {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.sidebar .ant-menu-item > a,
.sidebar .ant-menu-item > span {
  color: black !important;
  font-size: 1.2em !important;
}

.sidebar .ant-menu-item-selected {
  background-color: rgba(7, 0, 105) !important;
}

.sidebar .ant-menu-item-selected > a,
.sidebar .ant-menu-item-selected > span {
  color: white !important;
}

.sidebar .ant-menu-item-selected .anticon {
  color: white !important;
  font-size: 1.2em !important;
}

.sidebar {
  background-color: white;
}
