.container {
    position: absolute;
    top: 64px; /* Altura do cabeçalho */
    left: 200px; /* Largura da barra lateral */
    right: 0;
    bottom: 0;
    overflow: auto; /* Adicionado para permitir rolagem do conteúdo */
  }
  
  @media screen and (max-width: 992px) {
    .container {
      left: 0; /* Alterado para 0 quando a tela for menor */
    }
  }
  
  .content {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* Centralizar horizontalmente */
  }
  
  .form-container {
    margin-top: 40px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container textarea {
    height: 150px;
  }
  
  .form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .faq-container {
    margin-top: 40px;
  }
  
  .faq-container ul {
    list-style: none;
    padding: 0;
  }
  
  .faq-container li {
    margin-bottom: 20px;
  }
  
  .faq-container li strong {
    display: block;
    margin-bottom: 10px;
  }
  
  .faq-container li p {
    margin: 0;
  }
  